/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 700;
  src: local('Skranji Bold'), local('Skranji-Bold'), url(http://fonts.gstatic.com/s/skranji/v5/OZpGg_dtriVFNerMW4eBhlXHwWL9f4nluA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Skranji';
  font-style: normal;
  font-weight: 700;
  src: local('Skranji Bold'), local('Skranji-Bold'), url(http://fonts.gstatic.com/s/skranji/v5/OZpGg_dtriVFNerMW4eBhlvHwWL9f4k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* gallery display */
.photos {
  display: block;
}

.photos ul { list-style: none; }

.photos ul li { display: inline; }

.photos ul li a {
  display: block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  margin-bottom: 7px;
  opacity: 0.75;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.photos ul li a:hover {
  opacity: 1.0;
}

.photos ul li a img {
  border: 6px solid #e1d9ec;
}

/* lightbox hacks */
#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


#lightbox-container-image-data-box {
  display: none !important;
}


.photos ul li a img {
    border: 0px solid #e1d9ec;
    border-radius: 100%;
}

.person {
    display: inline-block;
    width: 30%;
    border: 1px solid #e1d9ec;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    padding-top: 20px;
}

p.personTitle {
    font-size: 1.5em;
    font-weight: bolder;
    font-family: fantasy;
}

p.subinfo, p.subinfo2  {
    color: grey;
}


div#lightbox-container-image-box {
    width: 30% !important;
        /* display: none; */
}

img#lightbox-image {
    width: 25%;
    border-radius: 100%;
}


#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

.personLB {
    height: fit-content;
    width: 30%;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: white;
    margin-top: 10%;
}

.imageLB {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 5%;
    width: 30%;

}

p.personTitleLB {
    TEXT-ALIGN: CENTER;
    FONT-FAMILY: fantasy;
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 1.5EM;
    -webkit-margin-after: 0.3em;
    text-transform: capitalize;
        margin-top: 0px;
}


p.subinfoLB {
    text-align: center;
    -webkit-margin-before: 0em;
        -webkit-margin-after: 0.3em;
        text-transform: capitalize;
}


p.subinfo2LB {
    text-align: center;
    text-transform: capitalize;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-style: inherit;
    border-width: 1px;
    border-color: grey;
}

span.lbsub {
    text-align: center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.3em;
    text-transform: capitalize;
}


.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:white;
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}

.subinfoLBemail {
    text-align: center;

}




.person { transition: all .2s ease-in-out; }
.person:hover  { transform: scale(1.05); }



span.arrow2 {
    font-size: 4em;
    color: grey;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
}

#left-arrow, #right-arrow  {
    cursor: pointer;
}
